/* change the colors */

img.itemfp {
    width: 200px;
    height: 200px;
    margin: auto;
}

img.imgcarousel {
    width: 1400px;
    height: 100;
}

a:link {
    color: inherit;
    text-decoration: inherit;
}

a:link:hover {
    color: #05668d;
    text-decoration: inherit;
}

a.cardlink,
a.cardlink:hover {
    color: inherit;
    text-decoration: inherit;
}

a.plainlink {
    color: inherit;
    text-decoration: inherit;
}

a.plainlink:hover {
    color: #ebf2fa;
    text-decoration: inherit;
}

a.plainlink-blue {
    color: inherit;
    text-decoration: inherit;
}

a.plainlink-blue:hover {
    color: #05668d;
    text-decoration: inherit;
}

body.fondo-login {
    background-image: url(../assets/img/fondo-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.fondo-warehouse {
    background-image: url(../assets/img/warehouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}