{%extends "main/base.html"%}
{% load static %}
{%block content%}
<main>
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-8">


                <p>
                    <h3> <strong>Sobre nosotros</strong> </h3>
                    En nuestros inicios, siempre tuvimos planes de crear algo que ayudase a los demás y generara empleo, y así comenzamos un paso a la vez a vender productos de jardinería, vendiendo sacos de tierra de hojas, gran variedad de flores, plantas de todo tipo,
                    arbustos en crecimiento y otros mas grandes, además de productos para trabajar la tierra como palas y picas para poder llevar a los demás las herramientas necesarias de jardinería y cuidado para sus plantitas de hogar.
                </p>

                <p>
                    Todo esto que comenzó como una idea grupal de una comunidad por redes sociales. Hoy esta completamente establecida con nuestro servicio web y sobre todo estamos asociados a una fundación sin fines de lucro que es la causa de nuestra creación como comunidad
                    y con la cual nos comprometimos a ayudar y no dejar atrás.
                </p>

                <p>
                    Por eso te pedimos a ti, que te unas a esta gran causa, suscribiéndote para ayudar a nuestra fundación y seas parte de nosotros viviendo un montón de experiencias y arduo trabajo del cual no te arrepentirás.
                </p>

                <p>
                    <h2> <strong>Encuentranos </strong> </h2>
                </p>
                <p>
                    San Francisco de Borja 225, Santiago, Estación Central, Región Metropolitana
                </p>
            </div>

            <div class="col-sm-2 d-none d-sm-block">
                <img src='{% static "assets/img/purpleFlower.png" %}' alt="">
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6659.318490139132!2d-70.61837364724713!3d-33.43212718680081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c586fd7f9df7%3A0x771c601636cc338f!2sOficina%20TNE!5e0!3m2!1ses!2scl!4v1652461998639!5m2!1ses!2scl"
                width="100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</main>
{%endblock%}