{%extends "main/base.html"%}
{% load static %}
{%block content%}
    <main>
        <div class="container-fluid">
            <div class="row py-3">
                <div class="col">
                    <!-- Carousel -->
                    <div id="carouselmain" class="carousel carousel-dark slide" data-bs-ride="carousel">

                        <!-- index -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>

                        <!-- contenido-->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container-fluid">
                                    <div class="d-flex justify-content-center ">
                                        <img src='{%static "assets/img/carousel/cactus1.jpg"%}' alt="Los Angeles" class="carouselfp d-block w-100">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-fluid">
                                    <div class="d-flex justify-content-center ">
                                        <img src='{%static "assets/img/carousel/kids2.jpg"%}' alt="Los Angeles" class="carouselfp d-block w-100">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-fluid">
                                    <div class="d-flex justify-content-center ">
                                        <img src='{%static "assets/img/carousel/tools2.jpeg"%}' alt="Los Angeles" class="carouselfp d-block w-100">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- controles -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselmain" data-bs-slide="prev">
                         <span class="carousel-control-prev-icon"></span>
                    </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselmain" data-bs-slide="next">
                          <span class="carousel-control-next-icon d-flex justify-content-end"></span>
                    </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- productos -->
        <div class="container" style=" background-color: #ebf2fa;">
            <div class="py-5 ">

<div class="container" id="plants">

                    <div class="row">
                        <p>
                            <h1>Droga Sabrosa</h1>
                        </p>
                    </div>
                </div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% for data in dataset %}

                <div class="container p-2 border">

                    
                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
{% get_static_prefix as STATIC_PREFIX %}
<img class="itemfp mt-2" src="{{STATIC_PREFIX}}assets/img/plantas/{{data.product_img}}" alt="{{data.product_img}}" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>{{ data.product_name }}</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ {{ data.product_price }} UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div> 

                        
                        {% endfor %}
   </div>



























                <div class="container" id="plants">
                    <div class="row">
                        <p>
                            <h1>Plantas/Flores</h1>
                        </p>
                    </div>
                </div>
                <div class="container p-2 border">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
                                    <img class="itemfp mt-2" src='{%static "assets/img/plantas/bonsai.png"%}' alt="Bonsai" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>Arbol bonsai</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ 699.990 UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
                                    <img class="itemfp mt-2" src='{%static "assets/img/plantas/leaves.png"%}' alt="Menta" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>Planta menta</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ 80.000 UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
                                    <img class="itemfp mt-2" src='{%static "assets/img/plantas/lilac.png"%}'  alt="lilac" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>Flores Mordac</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ 99.990 UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
                                    <img class="itemfp mt-2" src='{%static "assets/img/plantas/albahaca.jpeg"%}'  alt="lilac" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>Albahaca</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ 12.990 UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
                                    <img class="itemfp mt-2" src='{%static "assets/img/plantas/monsteraadansi.jpg"%}' alt="lilac" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>Monstera Adansi</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ 20.000 UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/404" class="cardlink">
                                <div class="card shadow-sm">
                                    <img class="itemfp mt-2" src='{%static "assets/img/plantas/corpseflower.jpg" %}' alt="lilac" </svg>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <p class="card-title font-weight-light"><small>Planta Cadaver</small></p>
                                        </div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <p class="card-text"><b>$ 50.000 UND</b></p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container" id="tools">
                <div class="row">
                    <p>
                        <h1>Herramientas</h1>
                    </p>
                </div>
            </div>
            <div class="container p-2 border">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- aqui empieza la parte de tarjetas de  herramientas -->
                    <div class="col">
                        <a href="/404" class="cardlink">
                            <div class="card shadow-sm">
                                <img class="itemfp mt-2" src='{%static "assets/img/herramientas/tijera.png"%}'  alt="tijera" </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <p class="card-title font-weight-light"><small>Tijeras</small></p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-2">
                                        <p class="card-text"><b>$ 10.000 UND</b></p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/404" class="cardlink">
                            <div class="card shadow-sm">
                                <img class="itemfp mt-2" src='{%static "assets/img/herramientas/Mini-Pala.png"%}' alt="Mini-Pala" </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <p class="card-title font-weight-light"><small>Pala pequeña</small></p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-2">
                                        <p class="card-text"><b>$ 12.990 UND</b></p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/404" class="cardlink">
                            <div class="card shadow-sm">
                                <img class="itemfp mt-2" src='{%static "assets/img/herramientas/machete.png"%}'  alt="machete" </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <p class="card-title font-weight-light"><small>Machete</small></p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-2">
                                        <p class="card-text"><b>$ 20.000 UND</b></p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container" id="pots">
                <div class="row">
                    <p>
                        <h1>Maceteros</h1>
                    </p>
                </div>
            </div>

            <div class="container mb-2 py-2 border">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- aqui empieza la parte de tarjetas de  maceteros -->

                    <div class="col">
                        <a href="/404" class="cardlink">
                            <div class="card shadow-sm">
                                <img class="itemfp mt-2" src='{%static "assets/img/maceteros/mchiquito.png"%}'  alt="macetero pequeño" </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <p class="card-title font-weight-light"><small>Macetero pequeño</small></p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-2">
                                        <p class="card-text"><b>$ 2.000 UND</b></p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/404" class="cardlink">
                            <div class="card shadow-sm">
                                <img class="itemfp mt-2" src='{%static "assets/img/maceteros/mcsoporte.png"%}' alt="macetero con soporte" </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <p class="card-title font-weight-light"><small>Macetero mediano + Soporte de metal</small></p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-2">
                                        <p class="card-text"><b>$ 30.990 UND</b></p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/404" class="cardlink">
                            <div class="card shadow-sm">
                                <img class="itemfp mt-2" src='{%static "assets/img/maceteros/mgrande.png"%}' alt="macetero grande" </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <p class="card-title font-weight-light"><small>Macetero grande</small></p>
                                    </div>
                                    <div class="d-flex justify-content-center mb-2">
                                        <p class="card-text"><b>$ 10.000 UND</b></p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="card-text"><button type="button" class="btn btn-primary"><i class="bi-basket"></i> Agregar a la canasta</button></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        </div>

    </main>
{%endblock%}

