<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Planteria</title>


    <link rel="stylesheet" href="style/style.css">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>

<body style=" background-color: #ebf2fa;">

    <header>
        <nav class="navbar navbar-expand-xl navbar-light" style=" background-color: #05668d;">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand"> <i class="bi-flower1"></i> Planteria</a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nbcollapse">
     <span class="navbar-toggler-icon"></span>
    </button>

                <div class="collapse navbar-collapse" id="nbcollapse">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                        <li><a href="404.html" class="nav-item nav-link active"><i class="bi-suit-heart"></i> Suscripcion</a></li>

                    </ul>

                    <form class="d-flex col-sm-6">
                        <div class="input-group">
                            <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                            <input type="text" class="form-control" placeholder="Buscar...">
                        </div>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li><a href="404.html" class="nav-item nav-link active"><i class="bi-person-circle"></i> Ingresar</a></li>
                        <li><a href="404.html" class="nav-item nav-link active"><i class="bi-basket"></i> Canasta</a></li>
                        <li><a href="404.html" class="nav-item nav-link active"><i class="bi-truck"></i> Seguimiento</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main>
    </main>

    <footer class="fixed-bottom py-1" style=" background-color: #05668d;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 my-md-3 d-flex justify-content-center ">
                    <p class="mb-1"> <a class="plainlink" href="index.html">Planteria&trade;</a> es parte the
                        <a class="plainlink" href="404honk.html">Honk&reg;</a>
                    </p>

                </div>

                <div class="col-12 col-md-3 offset-md-6  d-flex justify-content-center">
                    <ul>
                        <li><a class="plainlink" href="index.html">Volver al inicio</a></li>
                        <li><a class="plainlink" href="termsservices.html">Terminos y condiciones</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </footer>
    </div>


    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>