/* Coolors Exported Palette - https://coolors.co/275c04-555754-d1f0b1-b6cb9e-92b4a7 */

/* CSS HEX */
--lincoln-green: #275c04ff;
--davys-grey: #555754ff;
--tea-green: #d1f0b1ff;
--laurel-green: #b6cb9eff;
--cambridge-blue: #92b4a7ff;

/* CSS HSL */
--lincoln-green: hsla(96, 92%, 19%, 1);
--davys-grey: hsla(100, 2%, 34%, 1);
--tea-green: hsla(90, 68%, 82%, 1);
--laurel-green: hsla(88, 30%, 71%, 1);
--cambridge-blue: hsla(157, 18%, 64%, 1);

/* SCSS HEX */
$lincoln-green: #275c04ff;
$davys-grey: #555754ff;
$tea-green: #d1f0b1ff;
$laurel-green: #b6cb9eff;
$cambridge-blue: #92b4a7ff;

/* SCSS HSL */
$lincoln-green: hsla(96, 92%, 19%, 1);
$davys-grey: hsla(100, 2%, 34%, 1);
$tea-green: hsla(90, 68%, 82%, 1);
$laurel-green: hsla(88, 30%, 71%, 1);
$cambridge-blue: hsla(157, 18%, 64%, 1);

/* SCSS RGB */
$lincoln-green: rgba(39, 92, 4, 1);
$davys-grey: rgba(85, 87, 84, 1);
$tea-green: rgba(209, 240, 177, 1);
$laurel-green: rgba(182, 203, 158, 1);
$cambridge-blue: rgba(146, 180, 167, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-right: linear-gradient(90deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-bottom: linear-gradient(180deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-left: linear-gradient(270deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-top-right: linear-gradient(45deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-bottom-right: linear-gradient(135deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-top-left: linear-gradient(225deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-bottom-left: linear-gradient(315deg, #275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);
$gradient-radial: radial-gradient(#275c04ff, #555754ff, #d1f0b1ff, #b6cb9eff, #92b4a7ff);